@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --background-color: #4d4e67;
  --background-color-shade: #010226;
  --menu-background-color: #1a1b3c;
  --skin-color: #ffffffff;
  --skin-color-shade: #e6e6e6;
  --Theme-color: #fb8500;
  --Theme-color-hover: #c96a00;
  --hover-color: #ffffffff;
}

/* Basic SetUp */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--skin-color-shade);
  background-color: var(--background-color-shade);
  position: relative;
  overflow-x: hidden;
}

div {
  position: relative;
}

::selection {
  color: var(--background-color-shade);
  background-color: var(--skin-color);
}

/* Scrollbar design */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--menu-background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--Theme-color);
  border-radius: 1rem;
}

/* Reusable Component */

section {
  margin-left: 30rem;
  padding: 4rem;
  background-color: var(--background-color-shade);
  animation: sectionAnimation 0.4s ease-in;
}

.margin-bottom-bg {
  margin-bottom: 3rem !important;
}

.margin-bottom-md {
  margin-bottom: 2rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1rem !important;
}

.margin-right-sm {
  margin-right: 1rem !important;
}

.grid {
  display: grid;
  gap: 4.8rem;
}

.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-col {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-col {
  grid-template-columns: repeat(5, 1fr);
}

.btn {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #fff;
  background-color: var(--Theme-color);
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all 0.4s;
}

.btn:hover {
  background-color: var(--Theme-color-hover);
}

.secondary-heading,
.tertiary-heading {
  font-weight: 700;
  color: var(--skin-color);
}

.secondary-heading {
  font-size: 2.8rem;
}

.secondary-heading span {
  color: var(--Theme-color);
}

.tertiary-heading {
  font-size: 2rem;
}

@keyframes sectionAnimation {
  0% {transform: translateX(100%);}
  100% {transform: translateX(0%);}
}

@media screen and (max-width: 991px) {
  section {
    margin-left: 25rem;
    padding: 3rem;
  }
  .grid {
    display: grid;
    gap: 4.8rem;
  }

  .grid-2-col {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-3-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-4-col {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-5-col {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  section {
    margin-left: 0;
    padding: 2rem;
    padding-bottom: 10rem;
  }
  .grid {
    display: grid;
    gap: 4.8rem;
  }

  .grid-3-col {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-4-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-5-col {
    grid-template-columns: repeat(3, 1fr);
  }
}
