:root {
  --background-color: #4d4e67;
  --background-color-shade: #010226;
  --menu-background-color: #1a1b3c;
  --skin-color: #ffffffff;
  --skin-color-shade: #e6e6e6;
  --Theme-color: #fb8500;
  --Theme-color-hover: #c96a00;
  --hover-color: #ffffffff
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}