.home {
    height: 100vh;
}

.hero {
    order: 1;
}

.hero .subtitle {
    margin-bottom: 3rem;
}

.hero .description {
    margin-bottom: 4rem;
}

@media screen and (max-width: 991px) {
    .home {
        height: 100%;
    }
    .home .grid {
        justify-items: center;
    }
    .hero {
        order: 2;
    }
}